.event {
    background-color: #DEF2F1;
    padding: 10px 20px;
    position: relative;
}
.event h3 {
    color: #2B7A78;
    margin-top: 0;
    font-size: 16px;
}
.event .label {
    background-color: #2B7A78;
    color: #DEF2F1;
    font-size: 12px;
    padding: 4px;
    display: inline-block;
    font-weight: bold;
}
.event .content {
    margin-top: 14px;
}
.event .content p {
    font-size: 14px;
    margin-top: 0;
    color: #2B7A78;
}
.event .actions {
    position: absolute;
    bottom: 20px;
}