.modal-backdrop {
    background: #FEFFFF5C;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.modal {
    width: 500px;
    background: white;
    border: 1px solid #ccc;
    transition: 1.1s ease-out;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.modal.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}
@supports (offset-rotate: 0deg) {
    /*offset-rotate: 0deg;*/
    /*offset-path: path("M 250,100 S -300,500 -700,-200");*/
    .modal.off {
        offset-distance: 100%;
    }
}
@media (prefers-reduced-motion) {
    .modal {
        offset-path: none;
    }
}
.modal h2 {
    border-bottom: 1px solid #3AAFA9;
    padding: 1rem;
    margin: 0;
    color: #2B7A78;
}
.modal .modal-content {
    padding: 1rem;
}
.modal .modal-actions {
    border-top: 1px solid #3AAFA9;
    background: #eee;
    padding: 0.5rem 1rem;
    text-align: right;
}
.modal .modal-actions .cancel-button {
    background-color: #17252A;
    color: #DFF2F1;
}
.modal .modal-actions .cancel-button:hover {
    background-color: #DFF2F1;
    color: #17252A;
}

